@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Cormorant+Garamond&family=Montaga&display=swap");
body {
  margin: 0;
  background-color: antiquewhite;
}

body .titre h1 {
  text-transform: uppercase;
  font-family: "Cormorant", serif;
  color: #5d4231;
  font-size: 100px;
}

body .formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body .formulaire .cadre_marron {
  background-color: #5d4231;
  width: 20vw;
  height: 60vh;
  border-radius: 20px;
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .formulaire .cadre_marron p {
  font-family: "abeezee";
  color: white;
}

body .formulaire .cadre_blanc {
  padding: 50px;
  background-image: url("/assets/notes.jpg");
  background-size: cover;
  border-radius: 20px;
  width: 50vw;
  height: 80vh;
}

body .formulaire .cadre_blanc form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .formulaire .cadre_blanc form input, body .formulaire .cadre_blanc form textarea {
  background-color: transparent;
  line-height: 2.5;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: solid 2px #353740;
  margin-top: 10px;
  padding-bottom: 5px;
}

body .formulaire .cadre_blanc form textarea {
  height: 150px;
}

body .formulaire .cadre_blanc form input[type="submit"] {
  border: solid 2px white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}

body .formulaire .cadre_blanc form ::-webkit-input-placeholder {
  color: #353740;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body .formulaire .cadre_blanc form :-ms-input-placeholder {
  color: #353740;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body .formulaire .cadre_blanc form ::-ms-input-placeholder {
  color: #353740;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body .formulaire .cadre_blanc form ::placeholder {
  color: #353740;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: AbeeZee;
  color: #cca77c;
  padding: 0px 2px;
}

body footer i {
  color: #cca77c;
}

body footer i:hover {
  color: #5D4231;
}
/*# sourceMappingURL=stylec.css.map */