
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Cormorant+Garamond&family=Montaga&display=swap');

html{
    scroll-behavior: smooth;
}

body {
     margin:0;   
  
 }

  header .menu_burger {
    height: 50px;
    width: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 4;
    /* background: hsl(0 0% 100% / 0.1);
   backdrop-filter: blur(1rem); */
  }
  
  header .menu_burger div {
    height: 2px;
    width: 90%;
    -webkit-transition: all .4s;
    transition: all .4s;
    background-color: #9B7960;
    /* filter:blur(1px); */
    
  }
  
  header .menu_burger div:nth-child(1) {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  
  header .menu_burger div:nth-child(3) {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  
  header nav {
    position: fixed;
    background-color: #9B7960;
    right: 0;
    top: 0;
    padding: 60px 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(50% - 20px);
    /* width: 200px; */
    height: 100vh;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
    opacity: 0;
    z-index:3;
  }
  
  header nav a {
    color: black;
     padding-bottom: 20px;
    text-decoration: none;
    /* margin: 5px 0; */
    font-size: 40px;
    transition: all 0.4s;
    font-family:'montaga';
   
    text-align:center;
  }
  header nav a:hover {
    color: white;
    text-decoration: none;
   
    font-size: 40px;
     padding-bottom:20px;
  transition:all 0.4s;
  position:relative;
 
  }
 

  #menu_open {
    display: none;
  }
  
  #menu_open:checked ~ nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  
  #menu_open:checked ~ .menu_burger div:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
           background-color:white;
  }
  
  #menu_open:checked ~ .menu_burger div:nth-child(2) {
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
            background-color:white;
    opacity: 0;
  }
  
  #menu_open:checked ~ .menu_burger div:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            background-color:white;
  }
  
  nav:hover {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }

  nav img{
    width:5vw;
  }

.logov img{
    position : fixed;
    top:0;
    left:0;
    width:7%;

   animation: violon 2s ease-in-out 1s infinite; 
   
    
    
    z-index:2;
}

@keyframes violon {
    0%{
           
            transform: rotate(0deg);

    }
    25%{
            
            transform: rotate(10deg);
    }
    


}

  .image_sticky h1,.image_sticky H2, .image_sticky p {
    font-size:130px;
    line-height:20px;
    color:#9B7960;
    text-transform:uppercase;
    transition:translateY(5%) 0.4s opacity 0.4s;
  }
  .image_sticky H2{
    color:white;
  }

  
  .image_sticky {
    height:300vh;
    background-color:black;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    position:relative;
  }
  H2 {
    z-index:2;
  }
  .image_sticky img {
    position:sticky;
    top:50vh;
    width: 300px;
    /* transform:translateY(-50%);  */
 animation:perspective 1.6s ease-in-out forwards;

   
  
  }


  @keyframes perspective {
    from{
        opacity:0;
        transform :  translateY(0);
      
    }
    to{
        transform : rotateX(0deg) translateY(-50%);
        opacity:1;
       
      
    }
  }

.accueil_sct1 {
            /* margin-top:70px; */
            display: flex;
            flex-direction: column;
            background-image: url("/assets/degrade_noir.png"), url("/assets/image.png");
            background-attachment: fixed;
            background-size:cover;
            width:100vw;
            height:100vh; 
            overflow:hidden;
  
}

.accueil_sct1 .haut_sct1{
    display:flex;
    justify-content: space-between;
    margin-bottom:40px;
    margin-top:40px;

}
.accueil_sct1 .haut_sct1 img{
    width: 100px;
    
}
/* le menu ********************************* */

.accueil_sct1 .menu {
    
    margin:10px;
    padding:20px;
    display: flex;

   
}

.accueil_sct1 .menu a{
   
    
    font-family:AbeeZee; 
    text-decoration:none;
    color:white;
    font-weight:600;
    margin:20px;

}

.accueil_sct1 .menu a:hover{
   
    font-family:AbeeZee; 
    text-decoration:none;
    color:white;
    font-weight:600;
    margin:10 px;
    text-decoration-line:underline;

}
.accueil_sct1 .c-hamburger__icon {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    transition-duration: .2s;
    transition-property: transform;
    transition-timing-function: ease;
  }
  /* *, ::after, ::before {
    box-sizing: inherit;
  } */
  .accueil_sct1 .c-hamburger {
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    white-space: nowrap;
  }

.accueil_sct1 .c-hamburger__line {
    /* -webkit-animation-fill-mode: both; */
    animation-fill-mode: both;
    background-color: #fff;
    display: block;
    height: 2px;
    margin: 2px 0;
    transform-origin: center;
    transition-duration: .2s;
    transition-property: background-color;
    transition-timing-function: ease;
    width: 30px;
  }

  .accueil_sct1 .c-hamburger{
      color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    white-space: nowrap;
  }



.accueil_sct1 .cadreA{
    display:flex;
    flex-direction:column;
    justify-content:start;
}

 
.accueil_sct1 .titre {
    margin-top : 5%;
    margin-top : 5%;
    font-size:50px;
    opacity:0;
   
   
}

.accueil_sct1 .titre.reveal{
  
    animation:0.9s slideup ease-in-out forwards ;
}


.accueil_sct1 .slide{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.accueil_sct1 .cadre{
    box-sizing:border-box;
    background-color: antiquewhite;
    width:30vh;
    height:45vh;
    animation:1s slideup ease-out forwards;
    text-align: center;
    font-family: abeezee;
    font-size: small;
    padding-bottom:5px;
}
.accueil_sct1 .item{
    width:100%;
    height:80%;
}

h1 div{ 
    overflow: hidden;

}
h1 span{
    display:block;
    transform:translateY(120px);
    animation:0.9s titreh1 ease-in-out forwards;
}
@keyframes titreh1{
    to{
        transform:initial;
    }
}



@keyframes slideup{
    from{
        transform:translateY(100%);
        opacity:0;
    }
    to{
        transform:translateY(0%);
        opacity:1;
    }
}


/* le bloc où il y a étoile garantie et personalisable */


/* .accueil_sct2 .logo{
    display:flex;
    flex-direction:column;
    align-items: center;
} */


/* Grand titre VIOLON ACADEMY */
.accueil_sct1 h1{
    margin-top:0;
    margin-bottom:0;
    text-align:center;
    font-family:Montaga;
    font-size: 50px;
    color:antiquewhite;
}

.accueil_sct1 h2{
    margin-top:0;
    font-family: montaga;
    text-align: center;
    font-size:20px;
    color:antiquewhite;
}
/* section 2 ***************************************************************/
/* ******************************************************** */

i{
    font-size:42px;
    color:rgb(237, 139, 12);
}

 /* .box-scene {
    -webkit-perspective: 700;
    width: 400px;
    height: 200px;
    margin: auto;

    z-index: 999;
}
.box-scene:hover .box {
    -webkit-transform: rotateY(-90deg);
}
.box {
    width: 180px;
    height: 180px;
    position: relative;
    
    -webkit-transform-style: preserve-3d;
    
    -webkit-transition: all 0.4s ease-out;
    -webkit-transform-origin: 90px 90px -90px;
    
    /* float: left; */
    /* margin: 30px auto; */
    
    
/* }

.face {
    display:flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: visible; 
    
    -webkit-transform-origin: 0 0;
  
}

.front {
    -webkit-transform: rotateY(0deg);
    z-index: 2;
    background: #cca77c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side {
    background: #5D4231;
    -webkit-transform: rotateY(90deg);
    z-index: 1;
    left: 180px;
    
   
}
.container_cube{
    display: flex;
}



.side.face p{
    color:white;
    font-size:small;
    font-family: abeezee;
    text-align: center;

}

.front h3{
    color:white;
    font-size:small;
    font-family: abeezee;
    text-align: center;
} */
/* ************************************************************** */

.accueil_sct2{

    margin:5%;
    display:flex;
    flex-direction: column;
    min-height: 60vh;
    background-color: #f7f7f7; 
    justify-content: center;
}
.accueil_sct2 .bloc
{
     display:flex;
     justify-content: space-evenly;
      align-items: center; 
    

}

.container_cube i{
   
    font-size:42px;
    color:rgb(237, 139, 12);
}
 .accueil_sct2 .bloc {
  
    display: flex;

   justify-content: space-evenly;
   padding-top:5px;
 
  } 

.accueil_sct2 .logo{
    width: 20%;
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
   /* border: solid 2px #747d884d; */
   height: 40vh;
 

}



/* .bloc .icon_adjust-vert { 
    animation: loader 1s linear forwards !important;
    display: inline-block;
  }


@keyframes loader {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
*/
.accueil_sct2 p,.accueil_sct2 h3
{
    color: #5D4231;
    font-family: AbeeZee;
    text-align:center; 
    line-height:30px;
    
}

.accueil_sct2 img{
    height: 50px;
    width:50px;
    

}

.accueil_sct2 h2{

    color:#cca77c;
    font-size:50px;
    font-family:cormorant;
    text-align:center;
   
}

/* .information h2{

    color:#cca77c;
    font-size:30px;
    font-family:cormorant;
   
} */



.bloc_video{
    width: 100vw;
    height:100vh;
    display: flex;
    overflow:hidden;
    position:relative;


}
/* .full {

} */


.video{
    position: relative;
    overflow:hidden;
}


.curs {
    width:6rem;
    height:6rem;
    border:2px solid white;
    border-radius: 50%;
    position:fixed;
    /* transition:all .s ease; */
    /* position:relative; */
    /* cursor:none; */

    transform: translate(-50%,-50%);


}
.curs.curs_on:before{
position:absolute;

content:'ON'; 
font-size:30px;
color:white; 
top:50%;
left:50%;
transform: translate(-50%,-50%);


}
.curs.curs_off:after{
 
    content:'OFF';
    position:absolute;
    color:white;
    font-size:30px;
    top:50%;
left:50%;
transform: translate(-50%,-50%);
    
} 
.bloc_video .before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height: 100%;
     width:45vw; 
    background-color:white; 
    transition:all 0.6s ;
 z-index:2; 
}

.bloc_video .after{
    content:'';
     width:45vw; 
    transition:all 0.6s ;
    position:absolute;
    background-color: white;
    right:0;
    top:0;
    z-index: 2;
    height: 100%;
 


    /* background-color: gray; */
}

/* 
.bloc_video.apparition-25:before, .bloc_video.apparition-25:after {
    content:'';
    /* background-color:red; */
    /* width:45vw;
    height: 100%;
 
   
}

.bloc_video.apparition-50:before, .bloc_video.apparition-50:after {
    content:'';
    /* background-color: yellow; */
    /* width: 30vw;
    height: 100%;
 
   
} */


/* .bloc_video.apparition-75:before, .bloc_video.apparition-75:after {
    content:'';
    /* background-color:green; */
    /* width:15vw;
    height: 100%;
 

} */
/* .bloc_video.apparition-100:before,.bloc_video.apparition-100:after {
    content:'';
    /* background-color:#5D4231; */
    /* width:0;
    height: 100%;
 
}    */


 

footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-family:AbeeZee;
    color:#cca77c;
    padding:0px 2px;
    
}
footer p{
    font-size: 10px;
}

footer i{
    color:#cca77c;
}

footer i:hover{
    color:#5D4231;
}

.test{
    display:flex;
}


@media screen and (max-width:980px)
{
.header_nav {
    display: none;
}
}


/* *************************************************************************************** */



   

   .content .yellow {
        width: 50%;
        opacity: 0;
    }


.anim {
    opacity: 0;
}

@keyframes anim1 {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to  {
      transform: translateY(0);
      opacity: 1;
    }
  }