
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Cormorant+Garamond&family=Montaga&display=swap');

body{
    margin:0;
    background-color:  #5d4231;
}

.section1 img{
    width:10vh;
    height: 15vh;
}

.section2 h1{
        font-family:Cormorant;
        color:white;
        text-transform: uppercase;
        font-size:x-large;

}